.noAdminError {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    height: 20rem;
}

.noAdminError div a {
    background-color: var(--second-color);
    color: var(--primary-color);
    padding:1rem;
    transition: 0.5s ease;
}

.noAdminError div a:hover {
    background-color: var(--primary-color);
    color: var(--second-color);
    box-shadow: 0rem 0rem 1rem 0.5rem var(--primary-color);
}